<html>
    <head>
        <title>Discussions ayant le mot-clé : {{cle}}</title>
	<link rel="stylesheet" href="../../style/forum.css" type="text/css">
        <script src="/_utils/script/sha1.js"></script>
  	<script src="/_utils/script/json2.js"></script>
  	<script src="/_utils/script/jquery.js"></script>
  	<script src="/_utils/script/jquery.couch.js"></script>
        <script src="/_utils/script/jquery.form.js"></script>
        <script src="../../js/script.js"></script>
	
    </head>
  <body>
        <div id="header">
            <div id="titre">Argile-forum</div>
            <div id="ident">
                <!-- Entete avec possibilité de s'enregistrer pour tous. On le met en commentaire pour le masquer -->
                <!--
                <a href="#" onclick="afficherFormConnexion()">Connexion</a> - <a href="#" onclick="afficherFormEnregistrement()">S'enregistrer</a>
                -->
                <!-- Entete avec uniquement connexion -->
                <a href="#" onclick="afficherFormConnexion()">Connexion</a>
            </div>
        </div>
        <div id="login" style="display: none">
            <h2>Connexion</h2>
            <form id="form-login">
                <input type="text" name="login" id="connexionNom" autofocus required placeholder="Nom d'utilisateur?">
                <input type="password" name="mdp" id="connexionMdp" required placeholder="Mot de passe?"><br><br>
                <div class="send-button" onclick="connexion()">
                    Connexion
                </div>
            </form>
        </div>
        <div id="register" style="display: none">
            <h2>S'enregistrer</h2>
            <form id="form-register">
                <input type="text" name="login" id="enregistrementNom" required placeholder="Nom d'utilisateur?">
                <input type="password" name="mdp" id="enregistrementMdp" required placeholder="Mot de passe?">
                <input type="email" name="email" id="enregistrementEmail" required placeholder="Email?"><br><br>
                <div class="send-button" onclick="enregistrement()">
                    S'enregistrer
                </div>
            </form>
        </div>
          
        <div id="arborescence">
            <div class="menus">
                <ul id="arborescence-ul">
                    <li class="menu-parent"><a href='../../_rewrite'>Accueil</a></li>
                    <li class="menu-parent">></li>
                    <li class="menu-ici"><a href="#">Mot-clé : {{cle}}</a></li>
                </ul>
            </div>
        </div>
        <!--
        Liste des discussions
        -->
        <div id="content">
            <div class="topic" id="topic">
                
                <table id="topic-summary">
                    <tr class="topic-row-header">
                        <td class="topic-summary-row-title">
                            Titre
                        </td>
                        <td class="topic-summary-row">
                            Date de modifitcation
                        </td>
                    </tr>               
                {{#discussions}}
                    <tr>
                        <td class="topic-summary-row">
                            <a href='../discussion/{{id}}'>{{titre}}</a>
                        </td>
                        <td class="topic-date-row">
                            {{date_modification}}
                        </td>
                    </tr>
                {{/discussions}}
                </table>
                                
            </div>
            <div id="discussionsRecentes">
                <h4 class="header-related">
                    Derniers objets créés
                </h4>
                <div id="objet-nouveau"></div>
            </div>  
        </div>
        <div id="footer">
            
        </div>
        
        <script type="text/javascript">
            //Enregistrer un nouvel utilisateur
            function enregistrement(){
                var login = $('#enregistrementNom').val();
                var mdp = $('#enregistrementMdp').val();
                var email = $('#enregistrementEmail').val();
                
                enregistrer(login,mdp,email);
            }
            
            //Se connecter
            function connexion(){
                var login = $('#connexionNom').val();
                var mdp = $('#connexionMdp').val();
               // alert("connexion");
                connecter(login,mdp);
            }
           
            //Afficher/Masquer le formulaire de connexion
            function afficherFormConnexion(){
                var reg = document.getElementById("register");
                var log = document.getElementById("login");
                if(log.style.display=="none"){
                    log.style.display="block";    
                    reg.style.display="none";
                }
                else{
                    log.style.display="none";
                }  
            }
            
            //Afficher/Masquer le formulaire d'enregistrement d'un nouveau compte'
            function afficherFormEnregistrement(){
                reg = document.getElementById("register");
                log = document.getElementById("login");
                if(reg.style.display=="none"){
                    reg.style.display="block";
                    log.style.display="none";
                }
                else{
                    reg.style.display="none";
                }
            }
        
            /*
             * N'afficher le formulaire de création de sujet que si on est connecté
             * Afficher aussi le nom d'utilisateur et le lien de déconnexion
             */
            $("#ident").ready(function(){
                var utilisateur = verifierConnexion();
                if(utilisateur){                
                    $("#ident").html('<a href="_rewrite/utilisateur/' + utilisateur + '">' + utilisateur + '</a> - <a href="#" onclick="deconnecter()">Deconnexion</a>');
                    var formulaire = $("#nouveau-sujet");
                    formulaire.css('display','block'); 
                }
            });  
            
            /*
             * Afficher la liste des discussions dernièrement créées
             */
            
            $("#discussionsRecentes").ready(function(){
                db = $.couch.db("argile-forum");
                db.view("argile-forum/discussions-nouvelles", {
                    limit: 10,
                    success: function(data) {
                        var nouveau_titre = [];
                        var nouveau_id = [];
                        for(i in data.rows){
                                //Récupérer les titres et id des discussions liées
                                nouveau_titre.unshift(data.rows[i].value.title);
                                nouveau_id.unshift(data.rows[i].value._id);
                        }

                        var listeNouveau = document.getElementById("objet-nouveau");
                        for(i in nouveau_titre){
                            var nouveau = document.createElement("div");
                            if (nouveau_titre[i]!=undefined) {
                                nouveau.innerHTML = "<a href='../discussion/"+nouveau_id[i]+"'>"+nouveau_titre[i]+"</a>";
                            }
                            listeNouveau.appendChild(nouveau);
                        }
                    }
                });
            });
  	</script> 
    </body>
</html>