/* 
    Document   : forum
    Created on : 26 nov. 2012, 14:14:12
    Author     : thierrytan
    Description:
        Purpose of the stylesheet follows.
*/

body
{
    font-family: Trebuchet MS;
    width: 1000px;
}
#header
{
    height: 40px;
    background-color: #cccccc;
}
#titre
{
    font-size: 30px;
    float: left;
}
#ident
{
    text-align: right;
    float: right;
    margin: 10px;
}
.menus
{
    width: 1024px;
    float: left;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px; 
}
.menus ul
{
    padding-left: 20px;
}
.menus li
{
    display: block;
    float: left;
    margin-right: 7px;
    
    color: grey;
    padding: 6px 6px 6px 6px;
    
}
.menus li a
{
    color: grey;
    text-decoration: none;
}
.menu-ici
{
    border-bottom: 5px solid orange;
}

.menu-parent
{
    /*background: #777;*/
}
#objet-fils, #objet-nouveau
{
    padding: 5px;
}
#content
{
    margin: 0 auto;
    width: 960px;
    min-height: 250px;
}


#topic
{
    float: left;
    margin-bottom: 40px;
    width: 735px;
}
#topic-summary
{
    clear: both;
    width: 728px;
    border: 1px solid gray;
    margin-bottom: 5px;
    border-collapse: collapse;
}
#topic-tag-summary
{
    clear: both;
    width: 980px;
    border: 1px solid gray;
    margin-bottom: 5px;
    border-collapse: collapse;
}
.topic-row-header{
    background-color: #EEE;
}
.topic-summary-row-title
{
    border: 1px solid gray;
    margin: 0px;
    width: 500px;
    padding: 5px;
}
.topic-summary-row
{
    border: 1px solid gray;
    margin: 0px;
    padding: 5px;
}
.topic-date-row
{
    font-size: 80%;
    border: 1px solid gray;
    margin: 0px;
    padding: 5px;
}
#summary
{
    clear: both;
    width: 728px;
    border: 1px solid gray;
    margin-bottom: 5px;
}

#resume, .nouveau-sujet
{
    clear: both;
    width: 728px;
    border: 1px solid gray;
    margin-bottom: 5px;
}

#table-summary
{
    width: 100%;
    font-size: 14px;
}
#answers
{
    clear: both;
    padding-top:10px;
    margin-top: 5px;
    width: 728px;
    border: 1px solid gray;
}
.answer{
    margin: 5px;
    width: 99%;
   font-size: 14px;
}
.valid-answer
{
    background-color: #A9C05F;
    margin: 5px;
    width: 99%;
    font-size: 14px;
}
.valid-answer-text
{
    font-size: 14px;
}
.valided
{
    background-color: green;
    color: white;
    text-align: center;
    width: 100px;
}
.valid
{
    background-color: green;
    color: white;
    text-align: center;
}
.supprimer
{
    background-color: red;
    color: white;
    text-align: center;
}
.invalid
{
    background-color: gray;
    color: white;
    text-align: center;
}
#form-commentaire
{
    padding: 5px;
}
#form-topic
{
    float: left;
}
.send-button
{
    background-color: orange;
    color: white;
    text-align: center;
    width: 100px;
}
#discussionsRecentes, #related
{
    overflow: hidden;
    float: right;
    margin-bottom: 60px;
    width: 220px;
    border: 1px solid gray;
}
.header-related
{
    margin: 5px;
    background-color: #DDD;
}
.vote-cell
{
    width: 80px;
    font-weight: bold;
    /*font-size: 140%;*/
    vertical-align: top;
    text-align: center;
    padding: 5px;
}
.vote-plus
{
    color:green;
}
.vote-moins
{
    color:red;
}
.post-author
{
    font-size: 80%;
    color: gray;
}
.message-cell
{
    padding: 5px;
}

.mot_cle
{
    background-color: #DDD;
    color: black;
    border-bottom: 1px solid #AAA;
    border-right: 1px solid #AAA;
    text-decoration: none;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    line-height: 2.4;
    white-space: nowrap;
}

#ajouter-membres{
    clear:both;
    display:none;
}