/*
    Feuille de style Forum
    Revue et corrigée
    @Florian BRUNIAUX ISI4 MPL
    Printemps 2013
*/

/*GENERAL*/
body{
    font-family: arial, verdana, sans-serif;
    width: 100%;
    margin: 0 auto;
}

a {
    color: #fa914b;
}

/*HEADER*/
#header{
    position: relative;
    height: 40px;
    text-align: center;
    color: white;
    background-color: #2f314f;
    -moz-box-shadow: 0px 2px 11px #2f314f;
    -webkit-box-shadow: 0px 2px 11px #2f314f;
    box-shadow: 0px 2px 11px #2f314f;
}

#titre{
    font-size: 30px;
    width: 100%;
}

/*FOOTER*/
#footer{
    position: fixed;
    bottom: 0px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: #2f314f;
    -moz-box-shadow: 10px 0px 10px #2f314f;
    -webkit-box-shadow: 10px 0px 10px #2f314f;
    box-shadow: 10px 0px 10px #2f314f;
    width: 100%;
}
/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/*IDENTIFICATION, INSCRIPTION*/
#ident{
    position: relative;
    text-align: center;
    width: 200px;
    padding: 5px;
    background-color: #fa914b;
    -webkit-border-radius: 0px 0px 0px 10px;
    border-radius: 0px 0px 0px 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    float: right;
    margin-top: 5px;
}

#ident a{
    color: white;
}

#login{
    position: relative;
    font-size: 15px;
    position: relative;
    text-align: left;
    width: 450px;
    height: 20px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 5px;
    background-color: #fa914b;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
}

#login a{
    color: white;
}

#register{
    position: relative;
    font-size: 15px;
    position: relative;
    text-align: left;
    width: 750px;
    height: 20px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 5px;
    background-color: #fa914b;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
}

#register a{
    color: white;
}

/* FIL ARIANNE */
.arianne{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
}

/*CONTENT*/
#content{
    margin: 0 auto;
    width: 960px;
    min-height: 250px;
}


/*TOPIC*/
#topic{
    margin-bottom: 40px;
    width: 75%;
    float: left;
    margin-right: 2%;
}

#topic-summary, #attributes{
    width: 100%;
    border: 1px solid #2f314f;
    margin-bottom: 20px;
    border-collapse: collapse;
    
}

    .topic-row-header{
        background-color: #EEE;
        font-weight: bold;
    }
    
    .topic-summary-row-title{
        border: 1px solid #2f314f;
        margin: 0px;
        width: 500px;
        padding: 5px;
    }
    
    .topic-summary-row{
        border: 1px solid #2f314f;
        margin: 0px;
        padding: 5px;
    }
    
    .topic-date-row{
        font-size: 80%;
        border: 1px solid #2f314f;
        margin: 0px;
        padding: 5px;
    }

/* CREER NOUVEAU SUJET/REGLE */
#nouveau-sujet, #nouvelle-regle {
    position: relative;
    width: 100%;
    border: 1px solid #2f314f;
    margin-bottom: 5px;
    
}
#nouveau-sujet h4, #nouvelle-regle h4{
    margin: 0 auto;
    background-color: #EEE;
    font-weight: bold;
    
}

/*DERNIERS SUJETS,REGLES*/
.related{
    float: left;
    width: 20%;
    position: relative;
    border: 1px solid #2f314f;
}


.header-related{
    margin: 0 auto;
    background-color: #EEE;
}

#objet-fils, #objet-nouveau{
    padding: 5px;
}



/*
#summary{
    clear: both;
    width: 728px;
    border: 1px solid #2f314f;
    margin-bottom: 5px;
}
*/

/* PAGES COMMENTAIRES*/
#resume{
    clear: both;
    width: 100%;
    border: 1px solid #2f314f;
    margin-bottom: 20px;
}

#logs{
    clear: both;
    width: 99%;
    border: 1px solid #2f314f;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#logs p{
    font-size: 10;
}

#answers{
    clear: both;
    padding-top:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #2f314f;
}

#table-summary{
    width: 100%;
    font-size: 14px;
}


/*REPONSE VALIDEE*/
.answer{
    margin: 5px;
    width: 99%;
   font-size: 14px;
}

.valid-answer{
    background-color: #A9C05F;
    margin: 5px;
    width: 99%;
    font-size: 14px;
}

.valid-answer-text{
    font-size: 14px;
}

.valided{
    background-color: green;
    color: white;
    text-align: center;
    width: 100px;
}

.valid{
    background-color: green;
    color: white;
    text-align: center;
    width: 150px;
    
}

.supprimer{
    background-color: red;
    color: white;
    text-align: center;
    width: 200px;
}

.invalid{
    background-color: red;
    color: white;
    text-align: center;
}

/* FORMS */
#form-commentaire{
    position: relative;
    width: 100%;
    border: 1px solid #2f314f;
    margin-bottom: 5px;
    padding-left: 5px;
    
}

#form-commentaire .left{
    min-width: 120px;
}

#form-commentaire .right{
}

.send-button{
    background-color: #fa914b;
    color: white;
    border: 1px solid black;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    float: right;
    width: 200px;
}


/*VOTES*/
.vote-cell{
    width: 200px;
    font-weight: bold;
    vertical-align: top;
    text-align: left;
    padding: 5px;
}

.vote-plus{
    color:green;
}

.vote-moins{
    color:red
}

.post-author{
    font-size: 80%;
    color: #2f314f;
}

.message-cell{
    padding: 5px;
}

.mot_cle{
    background-color: #DDD;
    color: black;
    border-bottom: 1px solid #AAA;
    border-right: 1px solid #AAA;
    text-decoration: none;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    line-height: 2.4;
    white-space: nowrap;
}

/*PAGE UTILISATEUR POUR MODERATEUR*/
#ajouter-membres{
    clear:both;
    display:none;
}

.hidden {
    display: none;
}
